/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.text-gray{
    color: var(--dark-03, #727272);
    margin-bottom: 20px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
}
.btn-pimary{
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav > ul > li{
    list-style: none;
    margin: 0 20px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: var(--dark-02, #424242);
}
/* banner part */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
}
.banner img{
    width: 100%;
    margin-top: 20px;
}
/* main style */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* team section */
.teams-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
    margin-bottom: 20px;
}
.quick{
    color: var(--dark-03, #727272);
    font-weight: 500;
}
.text-feature{
    color: #FF900E;
    font-weight: 700;
}
/* card section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}
.card-stats{
    font-size: 2.8rem;
    color: var(--dark-02, #424242);
}
.card-title{
    font-weight: 600;
    color: var(--dark-03, #727272);
    font-size: 1.25rem;
}
/* phone responsive */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
        
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
}
/* tab responsive */
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
}